@import "./abstracts/mixins";
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");
* {
  list-style: none;
  padding: 0;
  margin: 0;
}
.App {
  background: #000;
  display: grid;
  place-items: center;
  font-family: Cormorant Garamond;
}
.navbar {
  display: flex;
  position: fixed;
  color: #000;
  width: 70%;
  top: 11%;
  align-items: center;
  z-index: 100;
  padding-left: 40px;
  p {
    font-weight: bold;
    font-size: 30px;
    line-height: 58px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    font-family: Assistant;
    font-size: 13px;
    width: 35%;
    margin-left: 50px;
    margin-top: 15px;
  }
}
.pageContainer{
    @include componentContainer;
    overflow: scroll;
}
.container {
  @include componentContainer;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}


.home {
  background: #000;
  display: flex;
  color: #fff;
  &TextContainer {
    width: 45%;
    background: #000;
    color: #fff;
    position: relative;
    .homeText {
      position: absolute;
      width: 110%;
      transform: translate(35%, 68%);
      z-index: 99;
    }
    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 55px;
      line-height: 70px;
      letter-spacing: 0.01em;
      .worldWord {
        position: relative;
        z-index: 99;
        &::after {
          content: "";
          position: absolute;
          width: 110%;
          height: 24%;
          background: #3a5b4a;
          left: -4%;
          bottom: 17px;
          z-index: -1;
        }
      }
      img {
        width: 50px;
      }
    }
    p {
      font-size: 17px;
      font-family: Assistant;
      font-weight: normal;
      line-height: 25px;
      margin: 20px 0 20px;
    }
    .btnContainer {
      display: flex;
      align-items: center;
      border: none;
      background: none;
      outline: none;
      cursor: pointer;
      padding: 0;
      p {
        color: #fff;
        font-family: Cormorant Garamond;
        font-size: 27px;
        font-weight: 600;
        letter-spacing: 0.03em;
      }
      figure {
        margin-left: 6px;
        position: relative;
        height: 15px;
        img {
          width: 13px;
          height: 100%;
        }
        &::after {
          content: "";
          position: absolute;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 1px solid #3a5b4a;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  &Image {
    width: 55%;
    height: 100%;
    position: absolute;
    right: 0;
  }
}

.shots {
    overflow-y: hidden;
    overflow-x: scroll;
    display: grid;
    grid-template-columns: repeat(3, 100%);
  .bee {
    display: flex;
    height: 100%;
    @include shotsStyle;
    &Img {
      width: 21%;
      display: flex;
      flex-direction: column;
      img:not(:nth-child(2)) {
        height: 30%;
      }
    }
    &Letters {
      width: 15%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-size: 160px;
      font-weight: 800;
      padding: 30px 30px 0 0;
    }
  }
  .tatia {
      display: flex;
      height: 100%;
      @include shotsStyle;
      .sectionText{
          div{
            transform: translate(30%, -50%);
          }
       
      }
      &ImageContainer {
          width: 70%;
          margin-top: 15%;
          margin-right: 35px;
          p{
            font-weight: bold;
            font-size: 50px;
            margin: 0 0 15px 30%;
            letter-spacing: 0.01em;
          }
          .tatiaImages{
              display: flex;
              width: 100%;
          }
          .tatiaImage{
              width: 50%;
              margin-right: 10px;
              img{
                  width:100%;
                  
              }
              p{
                font-weight: normal;
                font-size: 34px;
                letter-spacing: 0.01em;
                margin: 10px 0 0;
              }
          }
      }
  }
  .faceless{
      display: flex;
      height: 100%;
      @include shotsStyle;
      &Images{
          width: 50%;
        .imgContainer{
            width: 88%;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 10px;
            img{
                width: 100%;
            }
        }
        p{
            font-weight: bold;
font-size: 50px;
line-height: 85px;
letter-spacing: 0.01em;

        }
      }
      
  }
}
